{% extends 'catalog/basePage.html' %}

{% block header %}
    <!--In this html we have the navBar for logged users-->
    <head>
        <nav class="navbar background">
            <ul class="nav-list">
                <li>{{investor.name}}</li>
                <li><a href="/catalog/investorView/{{investor.user.idUser}}" > Portfolio </a></li>
                <li><a href="/catalog/investorMarketView/{{investor.user.idUser}}"> Market </a></li>
            </ul>
            <div class="rightNav">
                <a href="{% url 'logOutUser' %}"> Sign Out </a>
            </div>
        </nav>
    </head>
{% endblock %}